/* Custom CSS for Add New Course Page */
/* Customize scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f8f6f6; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
body {
    font-family: 'Roboto', sans-serif; /* Use a modern font */
    background-color: #f2f2f2;
    margin: 0; /* Remove default body margin */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0; /* Decrease top and bottom padding */
    margin: 0; /* Remove default margin */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
}

section#add-course {
    background-color: #fff;
    padding: 40px; /* Adjust padding as needed */
    border-radius: 10px; /* Remove border-radius */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 350px; /* Set width */
    height: auto; /* Remove fixed height */
    max-height: calc(100vh - 100px); /* Limit max height */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    margin-top: 20px; /* Adjust margin */
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #444;
}

input[type="text"],
input[type="url"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Push button container to the bottom */
}
  
button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Add margin to the right of the first button and to the left of the second button */
button:first-child {
    margin-right: 10px;
}

button:last-child {
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2; /* Remove background color */
    color: #555; /* Set text color */
    text-align: center;
    padding: 20px 0; /* Adjust padding */
}
