<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/decision.css')}}">
</head>
<body>
    <header>
        <h1>Class Scheduler</h1>      
    </header>
    <main>
        <section id="login">
            <h2>Login As</h2>
            <br></br>
            <form action="/" method="POST">
                <div class="box-container">
                    <button type="submit" name="student">Student</button>
                    <p></p>
                    <button type="submit" name="faculty">Faculty</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy;Class Scheduler</p>
    </footer>
</body>
</html>
