<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success - Class Added</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/add.css')}}">
    <!-- Add any other CSS files if needed -->
</head>
<body>
    <header>
        <h1>Class Scheduler</h1>      
    </header>
    <main>
        <section id="success-message">
            <h2>Class Updated Successfully!</h2>
            <p>The class has been Updated.</p>
            <div class="button-container">
                <a href="/facultymodify" class="button">Go to Home</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Class Scheduler</p>
    </footer>
</body>
</html>
